@page "/categories/edit/{id:int}"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Context

<PageTitle>Editar Categoria</PageTitle>

@if (Category is null)
{
    <p class="text-center">
        Categoria não encontrada
    </p>
}
else
{
    <h1>@Category.Title (@Category.Id)</h1>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public Category? Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Category = await Context
            .Categories
            .AsNoTracking()
            .FirstOrDefaultAsync(x => x.Id == Id);
    }

}
